[submodule "resources/comfyui"]
	path = resources/comfyui
	url = https://github.com/comfyanonymous/ComfyUI.git

[submodule "resources/comfyui-manager"]
	path = resources/comfyui-manager
	url = https://github.com/Comfy-Org/ComfyUI-Manager
